.header_gradient {
  display: flex;
  flex-direction: column;
  max-width: 85%;
  height: fit-content;
  background-clip: content-box;
  margin: auto;
  margin-top: 5%;
  border-radius: 10px;
  background-image: linear-gradient(to left, #ffffff, #307672);
}

.header_gradient_main {
  content: "";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 99.8%;
  background-color: black;
  margin: auto;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 10px;
  background-image: linear-gradient(to right, #1f2726, #2a342f);
}

.paragraphs {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 10%;
  margin-left: 10%;
  /* border: 2px solid blue; */
}

.paragraphs div span {
  font-size: 45px;
  font-family: "Monda";
  font-weight: bold;
  width: fit-content;
  background: linear-gradient(to right, #43f09f, #33b377);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* border: 2px solid red; */
  margin-top: 2%;
  /* border:2px solid red; */
}

.header_gradient_main section {
  margin-left: 10%;
  margin-top: 5%;
  width: 80%;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
}

.header_gradient_main h3 {
  font-size: 27px;
  font-family: "fjord one";
  max-width: 90%;
  font-weight: 200;
  background: linear-gradient(to right, #43f09f, #33b377);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* border:2px solid red; */
}

.author {
  font-size: 27px;
  max-width: 40%;
  font-weight: 100;
  background: linear-gradient(to right, #43f09f, #33b377);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* border: 2px solid red; */
  align-self: flex-end;
  margin-top: 20px;
  margin-right: 60px;
}

.signature {
  margin-top: 30px;
  margin-left: 60px;
  height: 113px;
  width: 218px;
}
.hero_content {
  /* border: 2px solid red; */
  width: 120%;
}

.hero_image img {
  /* border: 2px solid red; */

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 100%;
  margin-bottom: 2px;
  max-width: 511px;
}

@media only screen and (min-width: 510px) and (max-width: 1010px) {
  .header_gradient {
    max-width: 90%;
  }

  .author {
    margin-right: 30px;
    margin-top: 15px;
  }

  .header_gradient_main {
    width: 99.8%;
  }

  .header_gradient_main p {
    font-size: 32px;
    line-height: 1em;
  }

  .paragraphs div span {
    font-size: 25px;
    line-height: 1.16em;
  }

  .header_gradient_main h3 {
    font-size: 16px;
    font-weight: 400;
  }

  .author {
    font-size: 15px;
  }

  .hero_image img {
    height: 100%;
    width: 100%;
    /* border:2px solid red; */
  }

  .signature {
    height: 55px;
    width: 110px;
    margin-top: 2%;
    margin-left: 10%;
  }
}

@media only screen and (max-width: 510px) {
  .header_gradient {
    max-width: 99%;
  }

  .paragraphs {
    margin-left: 10%;
    margin-top: 12%;
    /* border: 2px solid blue; */
  }

  .author {
    margin-right: 15px;
  }

  .header_gradient_main {
    width: 99.8%;
  }

  .paragraphs div span {
    font-size: 18px;
    line-height: 1.12em;
  }

  .header_gradient_main h3 {
    font-size: 12px;
    font-weight: 300;
  }

  .author {
    font-size: 15px;
    margin-right: 4%;
  }

  .hero_image img {
    height: 100%;
    width: 100%;
    /* border:2px solid red; */
  }

  .signature {
    margin-top: 4%;
    margin-left: 10%;
    height: 30px;
    width: 58px;
  }

  .header_gradient_main section {
    margin-left: 10%;
    margin-top: 7%;
  }
}
