
.header_gradient {
  display: flex;
  flex-direction: column;
  width: 1196px;
  height: 1500px;
  background-clip: content-box;
  margin: auto;
  margin-top: -190px;

  background-image: linear-gradient(to top, #FFFFFF , #1657009c);
}

.header_gradient_main {
  content: "";
  display: flex;
  flex-direction: column;
  align-items: left;

  width: 1192px;
  height: 1496px;

  background-color: #466765;
  margin: auto;
  margin-top: 2px;
  /* border: 2px solid red; */

}




.up_vector{
    position: relative;
    /* border: 2px solid red; */

}

.up_vector img{
    position: relative;
    /* border: 2px solid red; */
    left: 830px;


}

.down_vector{
    position: relative;
    /* border: 2px solid red; */
    right: 130px;
    margin-top: -180px;
    z-index: -12;

}

.outer_box {
    /* border: 2px solid red; */
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.main_heading p{
    font-size: 56px;
    margin:70px 0px 0 121px ;
    color: #43F09F;
    font-weight: bold;
    font-weight: 500;
  }

  .underline {
    width:50%;
    height:10px;
    margin-left: 121px;
    background-color: #43F09F;

  }

  .help_text {
    width: 70%;
    margin: auto;
    margin-top: 70px;
  }

  .help_text p{
   font-size: 28px;
   color:white;
   margin-top: 40px;
   line-height: 2.8rem;
   word-spacing: 0.2rem;
  }

  .main_btn {
    width:33%;
    height:60px;
    font-size: 28px;
    font-weight:700;
    border: 2px solid #4EF96D;
    color: #43F09F;
    background-color: #245754;
    border-radius: 7px;
    margin-top: 40px;
    box-shadow: 3px 3px 6px 0.1px rgb(128, 128, 128);
    padding: 5px;
  }

  .help_text button:hover{
    border: 2px solid #42d55d;
    color: #3bce89;
    background-color: #112a20;
    cursor: pointer;
    box-shadow: 3px 3px 6px 0.1px rgb(105, 105, 105);
  }

 