.box {
  margin-top: 1%;
  /* height: 300%; */
  height: 345vh;
  /* height: 2720px; */
}

.header_gradient {
  display: flex;
  flex-direction: column;
  max-width: 85%;
  height: fit-content;
  background-clip: content-box;
  margin: auto;
  margin-top: 61px;
  border-radius: 10px;
  background-image: linear-gradient(to left, #215427, #98dcd8);
}

.header_gradient_main {
  content: "";
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 99.8%;
  /* background-color: #466765; */
  margin: auto;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 10px;
  background-image: linear-gradient(to left, #404b4a, #2a3430);
}

.about_tags {
  width: fit-content;
  height: fit-content;
  /* border:2px solid red; */
}

.header_gradient_main p {
  font-size: 53px;
  font-weight: bold;
  width: fit-content;
  background: linear-gradient(to right, #43f09f, #2b9b67);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* border: 2px solid red; */
  margin-top: 20%;
  margin-bottom: 15%;
}

.main_section {
  /* width: 1196px; */
  width: 83vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* border: 2px solid red; */
  margin-top: 5%;
  /* border: 2px solid red; */
}

.dot {
  height: 2vh;
  width: 2vh;
  background: #43f09f;
  border-radius: 10px;
}

.line {
  height: 38vh;
  width: 4px;
  background: #747474;
  /* border-radius: 10px; */
  margin:auto;
}

.mid_section {
  position: relative;
  z-index: 12;
  padding-top: 20vh;
  height: 2560px;
}

.left_section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid red; */
  height: fit-content;
}
.right_section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  /* border: 2px solid red; */
}

/* Tablet */

@media only screen and (min-width: 510px) and (max-width: 1010px) {
  .header_gradient {
    max-width: 90%;
  }

  .header_gradient_main {
    width: 99.8%;
  }
  .header_gradient_main p {
    font-size: 34px;
  }

  .left_section {
    width: 45%;
    height: fit-content;
  }

  .right_section {
    width: 45%;
    height: fit-content;
  }

  .mid_section {
    padding-top:  20vh;
    height: fit-content;
  }


  .line {
    height: 38vh;
    border-radius: 0px !important;
    margin:auto;
  }

  .dot {
    height: 2vh;
    width: 2vh;

  }

  .box {
    margin-top: 1%;
    /* height: 300%; */
    height: fit-content;
    padding-bottom: 0px;
  }

}

/* Mobile */

@media only screen and (max-width: 510px) {
  .header_gradient {
    max-width: 99%;
  }

  .header_gradient_main {
    width: 99.8%;
  }

  .header_gradient_main p {
    font-size: 16px;
  }

  .main_section {
    width: 99vw;
  }

  .left_section {
    width: 45%;
    height: fit-content;
  }

  .right_section {
    width: 45%;
    height: fit-content;
  }

  .mid_section {
    padding-top: 10.5vh;
  }


  .line {
    height: 22vh;
    border-radius: 0px !important;
    margin-left: 0.7vh;
  }

  .dot {
    height: 2vh;
    width: 2vh;

  }

  .box {
    margin-top: 1%;
    /* height: 300%; */
    height: 205vh;
  }
}
