.text {
    /* width: 370px; */
    width: 24vw;
    height: 40vh;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'poppins';
 
  }
  
  .text h4 {
    font-size: 2.8vh;
    /* font-size: 26px; */
    font-weight: 1;
    color: white;
    padding: 10px;
    line-height: 2.2rem;
    color:rgb(237, 237, 237);
  }


  /* Tablet */

@media only screen and (min-width: 510px) and (max-width: 1010px) {
  .text h4 {
    font-size: 2.1vh;
    /* font-size: 26px; */
    font-weight: 100;
    line-height: 1.4rem;
  }

  .text {
    /* width: 370px; */
    width: 35vw;
    height: 40vh;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height:1.2rem;
  }
}
  
@media only screen and (max-width: 510px) {
  .text {
    width: 40vw;
    height: 24vh;
    /* border: 2px solid red; */
  }
  
  .text h4 {
    font-size: 12px;
    font-weight: 300 !important;
    padding: 5px;
    color: white;
    line-height: 0.9rem;
    line-height: 1.02rem;
  }

}