.text {
    /* width: 370px; */
    width: 24vw;
    height: 40vh;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'poppins';
  }
  
  .text h4 {
    font-size: 3.25vh;
    /* font-size: 26px; */
    font-weight: 10;
    color: white;
    padding: 10px;
  }


  /* Tablet */

@media only screen and (min-width: 610px) and (max-width: 1010px) {
  .text h4 {
    font-size: 3.00vh;
    /* font-size: 26px; */
    font-weight: 100;
    line-height: 1.6rem;
  }

  .text {
    /* width: 370px; */
    width: 35vw;
    height: 40vh;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height:1.2rem;
  }
}
  
@media only screen and (max-width: 610px) {
  .text {
    width: 40vw;
    height: 22vh;
    /* border: 2px solid red; */
  }
  
  .text h4 {
    font-size: 12px;
    font-weight: 300 !important;
    padding: 10px;
    color: white;
    line-height: 0.9rem;
  }

}